<h2 mat-dialog-title>Edit Task</h2>
<mat-dialog-content>
    <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput [formControl]="title" required />
    </mat-form-field>

    <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput [formControl]="description" required />
    </mat-form-field>

    <!--<mat-form-field>
        <mat-label>Status</mat-label>
        <select>
            <option value="">

            </option>
        </select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Status</mat-label>
        <select>
            <option value="">
                
            </option>
        </select>
    </mat-form-field>--> 

    <!-- TODO: add Status -->
     <!-- TODO: user hinzufügen -->
</mat-dialog-content>
<mat-dialog-actions>
    <button matButton="elevated" (click)="saveTask()">Save</button>
    <button matButton="elevated" mat-dialog-close>Close</button>
</mat-dialog-actions>