
<section>
    <button matButton="elevated" (click)="openCreateProjectDialog()">Create Project</button>
    <button matButton="elevated" (click)="openDeleteProjectDialog()">Delete Project</button>
    <button matButton="elevated" (click)="openEditProjectDialog()">Edit Project</button>
</section>

<section>
    
    <form [formGroup]="projectForm">
    <mat-selection-list #projectsList [formControl]="projectsControl" name="projects" [multiple]="false">
        @for(project of this.projects; track project) {
            <mat-list-option [value]="project.id" (click)="onChange(project.id)">{{project.title}}</mat-list-option>
        }
    </mat-selection-list>

    Selected: {{projectsControl.value ? projectsControl.value[0] : 'None'}}
   </form>
</section>